/*--------------------------------------------------------------
# Employees
--------------------------------------------------------------*/
.box {
  border: 1px solid black;
  margin: 30px 30px;
  padding: 30px 30px;
}